body{
    margin: 0;
    padding: 20px;
    background: linear-gradient(to left,#1B1833,#FFDE4D)
}

.index-heading{
    text-align: center;
    align-items: center;
    font-size: 40px;
    color: aqua;
    background-color: #d4b909e4;
    color:rgb(45, 1, 1);
    padding: 10px 12px 10px 40px;
    box-shadow: 0px 12px 30px rgb(0.1,0.2,1.5);
    position: relative;
    border-radius: 30px;
    transition: transform 0.3s ease,box-shadow 0.2 ease;
}
.index-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    border: 1px solid #da0f0f;
    border-radius: 12px;
    box-shadow: 0px 12px 18px rgb(0,0,0.15);


}
.index-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    max-width: 250px;
    background-color: rgb(239, 178, 8);
    border: 2px solid #02b9d7;
    border-radius: 16px;
    box-shadow: 0px 12px 20px rgb(0,0,0.5);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    transition: transform 0.3s ease ,box-shadow 0.3s ease;
}
.index-card:hover{
    border: 2px solid #da0f0f;
    background:radial-gradient(#FFDE4D,#FFFF);
    transform:scale(1.1);
    overscroll-behavior-x: 0px 12px 32px rgb(0,0,1.5);

}
.list-style{
    list-style: none;
    display: flex;
    gap: 20px;
}
.list-style li{
    background-color: #d4b909e4;
    color:rgb(45, 1, 1);
    padding: 10px 12px 10px 40px;
    box-shadow: 0px 12px 30px rgb(0.1,0.2,1.5);
    position: relative;
    border-radius: 30px;
    transition: transform 0.3s ease,box-shadow 0.2 ease;

}
.list-style li::before{
    content: '✔';
    position: obsulute;
    top: 50%;
    transform: translate (-50%);
    left: 8px;
    height: 20px;
    width: 20px;
    color: #FF6F3C;
    background-color: #FF6F3C;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: medium;

}
.list-style li:hover
{
    border: 2px solid #d12219;
    background:radial-gradient(#FFDE4D,#FFFF);
    transform:scale(1.1);
    overscroll-behavior-x: 0px 12px 32px rgb(0,0,1.5);

}